html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}


/*body {
    background-image: url("../assets/img/back.jpg");
    /*border-color: #28a745;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 100% !important;
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: black;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

  }
  
  a {
    color: white;
  }

    
#menu-nav{
    font-weight: bold;
    font-size: 1.1em;
    margin: 0 auto;
    width: 90%;
    margin-top: 1%;
    
}
  
  /* header */
  
  /*.header {
    background-color:rgba(7, 7, 7,0.9);
    position: fixed;
    width: 100%;
  }
  
  .header ul {
    margin-top: 3px;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: block;
    padding: 18px 18px;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    color:turquoise;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  /*.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  /*.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background:white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 32px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 8px;
  }
  
  .header .menu-icon .navicon:after {
    top: -8px;
  }
  
  /* menu btn */
  
  /*.header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 340px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  
  /* 48em = 768px */
  
  /*@media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  #name{
    font-size: 3.2em;
    color: white;
  }
  .quali{
    font-size: 0.6em;
    color:rgba(17, 189, 189, 0.678);
  }
  
  .home{
    text-align: left;
    margin-left: 10%;
    width: 90%;
    padding-top: 15%;
    
  }

  .about{
    float: right;
    width: 90%;
    padding-top: 15%;
    color: white;
    
  }
